{{>header.layout}}
{{>navbar.layout}}


{{#if errorStatus}}
<div class="container alert alert-danger my-3 ">
    <ul>
    {{#each errors}}
<li>{{this}}</li>
    {{/each}}
    </ul>
</div>
{{/if}}


{{>form.layout}}


{{>footer.layout}}